* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; background: #c2dde4 url(../img/bg.png) repeat 0 0; }

a img, fieldset { border: none; }

a { color: #00919e; }
a:hover { text-decoration: none; }

.content { background: #fff; }
