.offerslider__next, .offerslider__prev { font: 0/0 a; text-shadow: none; color: transparent; }

.is-landing .topper { z-index: 200; position: relative; }
.is-landing .nav { position: absolute; bottom: 36px; left: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.is-landing .header { position: absolute; width: 100%; z-index: 100; top: 50px; margin: 0; top: 71px; }
.is-landing .invite-friend { border: 1px solid rgba(255, 255, 255, 0.5); text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
.is-landing .landing { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; height: 780px; height: 672px; margin-top: -50px; border-bottom: 1px solid #c5c5c5; box-shadow: 1px 1px 3px rgba(197, 197, 197, 0.59); position: relative; z-index: 5; width: 100%; overflow: hidden; }
.is-landing .landing .landing__inner { position: relative; height: 100%; }
.is-landing .landing_alt { height: 700px; margin-top: 0; }
.is-landing .landing_alt .current-actions { top: 605px; }
.is-landing .landing_alt .header { top: 20px; margin: 0; }
.is-landing .landing__container { position: relative; }
.is-landing .landing__container_alt .landing__info { top: 105px; left: 0; padding: 15px 20px 20px; }
.is-landing .landing__container_alt .landing__discount { top: 104px; right: -22px; }
.is-landing .landing__info { position: absolute; top: 226px; left: 0px; padding: 45px 20px; width: 266px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; background: rgba(0, 0, 0, 0.3); color: #fff; }
.lteie8 .is-landing .landing__info { background: #000; }
.is-landing .landing__discount { color: #fff; font-size: 27px; font-weight: bold; font-style: italic; font-family: Georgia, "Century Schoolbook L", Serif; position: absolute; top: 226px; right: 0; background: rgba(0, 0, 0, 0.3); width: 160px; height: 180px; text-align: center; -webkit-border-radius: 120px; -moz-border-radius: 120px; -ms-border-radius: 120px; -o-border-radius: 120px; border-radius: 120px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; padding: 60px 40px 0; }
.lteie8 .is-landing .landing__discount { background: #000; padding: 30px 60px; }
.is-landing .landing__title { font-size: 18px; font-weight: bold; margin-bottom: 15px; }
.is-landing .landing__text li { list-style: none; position: relative; }
.is-landing .landing__text li:before { position: relative; top: -1px; content: "›"; margin-right: 5px; color: #7ac03d; font-size: 13px; font-weight: bold; }
.is-landing .socials_landing { margin-top: 27px; }
.is-landing .socials_landing dt { font-size: 18px; color: #fff; }
.is-landing .socials_landing ul { margin-left: -4px; }
.is-landing .socials_landing li:before { content: none; }
.is-landing .socials_landing li a { margin-left: 3px; }
.is-landing .form_landing { margin-top: 23px; }
.is-landing .form_landing .formline input { width: 245px; }
.is-landing .button_landing { margin-top: 19px; padding: 0 50px; }
.is-landing .landing__auth { display: block; clear: both; margin-top: 23px; }
.is-landing .landing__auth a { color: #fff; }
.is-landing .current-actions { position: absolute; top: 720px; width: 898px; padding: 10px 20px; border: 1px solid #c1c7c9; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; background-color: #cde3d1; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
.is-landing .current-actions__title { display: inline-block; font-size: 16px; font-weight: bold; color: #53981e; float: left; }
.lteie8 .is-landing .current-actions__title { display: inline; zoom: 1; }
.is-landing .current-actions__slider { float: right; width: 700px; margin-right: 10px; position: relative; }
.is-landing .current-actions__slider .current-actions__next { cursor: pointer; top: 5px; position: absolute; right: -20px; background: url('../img/icons-s33fde62b07.png') 0 -5876px no-repeat; width: 12px; height: 16px; cursor: pointer; }
.is-landing .current-actions__slider .current-actions__prev { cursor: pointer; top: 5px; position: absolute; left: -35px; background: url('../img/icons-s33fde62b07.png') 0 -5928px no-repeat; width: 12px; height: 15px; }
.is-landing .current-actions__slider .disabled { opacity: .3; cursor: default; }
.is-landing .current-actions__slider .current-actions__content { overflow: hidden; width: 100%; white-space: nowrap; padding-top: 2px; }
.is-landing .current-actions__slider .current-actions__content a { color: #111; font-size: 12px; margin-right: 20px; }
.is-landing .current-actions__slider .current-actions__aslider { width: 700px; height: 20px; position: relative; overflow: hidden; }
.is-landing .current-actions__slider .current-actions__aslider .slides { width: 20000em; position: absolute; }
.is-landing .current-actions__slider .current-actions__aslider a { float: left; margin-right: 20px; width: 200px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.is-landingfullscreen { background-repeat: no-repeat; background-position: 50% 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 100%; min-height: 700px; position: relative; }
.is-landingfullscreen .footer { position: absolute; bottom: 0; left: 0; right: 0; z-index: 100; }
.is-landingfullscreen .footer:before, .is-landingfullscreen .footer:after { display: none; }
.is-landingfullscreen .landing_alt .current-actions { top: 574px; }

.offerslider__next, .offerslider__prev { position: absolute; cursor: pointer; background: url('../img/icons-s33fde62b07.png') 0 -4986px no-repeat; width: 26px; height: 42px; right: -25px; top: 50%; }

.offerslider__prev { right: auto; left: -43px; background: url('../img/icons-s33fde62b07.png') 0 -2487px no-repeat; width: 26px; height: 42px; }
