.social-block { margin-bottom: 23px; }

.helpme { padding-right: 0; }
.helpme .helpme__title { color: #767f80; font-weight: bold; font-size: 12px; margin-bottom: 6px; }
.helpme .helpme__phone { font-size: 32px; color: #444b50; margin-bottom: 6px; }

.text { color: #111; font-size: 14px; line-height: 1.4; }
.text p { margin-bottom: 1.2em; }
.text h2 { font-size: 18px; font-weight: bold; margin: 16px 0 4px 0; }
.text .subtle { color: #898989; }
.text.text_narrow p { margin-right: 250px; }
.text ul { margin: 1em 2em; line-height: 1.5; }
.text ul.list-style-none { list-style: none; }
.text .green { color: #4a8f16; }
.text .lead { font-size: 18px; }
.text code { font-weight: bold; border: 1px solid rgba(144, 144, 144, 0.5); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; box-shadow: 0 -1px 0 #d2d2d2; background-color: #fff; padding: 3px 5px; font-family: Arial,sans-serif; }

.linkmore { -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; background-color: #fff; border: 3px solid #b0cad2; text-align: center; font-weight: bold; font-size: 13px; color: #000; height: 37px; line-height: 37px; margin-top: 20px; }
.linkmore a { color: #0f71b3; }
.linkmore.linkmore_alt { background: #f5f5f5; border: none; }
.linkmore.linkmore_alt strong { color: #075f97; }
.linkmore.linkmore_alt span { font-weight: normal; color: #898989; }
