.userdata__success { background: #dae9d1; margin-bottom: 20px; padding: 16px 15px; font-weight: bold; }

.input-wrap { position: relative; display: inline-block; display: inline; }
.input-wrap i { position: absolute; content: ""; }
.input-wrap i.male { top: 5px; left: 10px; background: url('../img/icons-s33fde62b07.png') 0 -5287px no-repeat; width: 6px; height: 6px; }
.input-wrap i.female { top: 21px; left: 2px; background: url('../img/icons-s33fde62b07.png') 0 -5511px no-repeat; width: 8px; height: 6px; }

input[type=radio] { border: none !important; padding: 0 !important; }

.formline input { width: 236px; display: inline-block; margin-bottom: 7px; }
.checkout__wrap .formline input { margin-right: 8px; }
.formline input[type="radio"] { display: inline-block; width: auto; }
.formline label { color: #777778; width: 169px; float: left; text-align: right; margin-right: 30px; height: 30px; line-height: 30px; }
.formline .formline__short { width: 50px; }
.formline .formline__long { width: 260px; }
.formline .formline__note { display: inline-block; vertical-align: middle; font-size: 12px; color: #555; }
.formline .formline__textarea { width: 440px; height: 100px; }

.formline__right { display: table; width: 258px; }
.checkout__wrap .formline__right { width: auto; }
.formline__right label { text-align: left; float: none; width: auto; margin-right: 9px; color: #000; height: 30px; vertical-align: top; display: inline-block; }

.formline__btn { margin: 27px 0 31px 199px; }

.formline__text { display: inline; margin-left: 20px; font-weight: bold; font-size: 16px; }
.formline__text a { color: #000; }

.userdata__report .userdata__report-row { height: 18px; line-height: 18px; display: inline-block; margin-bottom: 17px; }
.userdata__report .userdata__report-name { float: left; width: 280px; margin-right: 20px; text-align: right; color: #777778; }
.userdata__report .userdata__report-value { float: left; max-width: 100px; white-space: nowrap; font-weight: bold; font-size: 18px; }

.userdata__invite h2 { font-size: 18px; padding-bottom: 22px; text-align: left; }
.userdata__invite .userdata__heading { font-size: 14px; margin: 0 0 13px; padding: 0; }
.userdata__invite h3 { font-size: 14px; margin-bottom: 12px; }
.userdata__invite table { font-size: 12px; }
.userdata__invite table th { border-bottom: 1px dotted #b2cee0; padding-bottom: 10px; }
.userdata__invite table td { padding-top: 10px; }
.userdata__invite table em { color: #5dab22; }
.userdata__invite table strong { font-size: 12px; }
.userdata__invite table .userdata__invite-bonus { text-align: right; }
.userdata__invite .userdata__invite-unroll { color: #138bc1; font-size: 12px; line-height: 1.3; border-bottom: 1px dotted #138bc1; text-decoration: none; display: inline-block; margin-top: 13px; margin-bottom: 30px; }
.userdata__invite .userdata__invite-unroll:hover { border-bottom: 1px dotted transparent; }
.userdata__invite .userdata__invite-send { margin-bottom: 35px; }
.userdata__invite .userdata__invite-send code { display: block; font-weight: normal; padding: 8px 10px; }

.userdata__socials ul { margin: 0; }

.mark { color: #bd4939; }

.popup_alt { width: 290px; margin-left: -175px; }

.sep { margin-bottom: 25px; border-top: 1px dotted #b2cee0; margin-top: 45px; clear: both; }

.sep_alt { margin-top: 25px; }

.sep_balance { margin: 0 20px; }

.popup__invite { overflow: hidden; }
.popup__invite li { list-style: none; float: left; margin-right: 10px; margin-left: 10px; margin-bottom: 18px; }
.popup__invite li:last-child { margin-bottom: 0; }
.popup__invite a { color: #2a72a8; text-decoration: none; }
.popup__invite a:hover { text-decoration: underline; }

.popup__userpic { overflow: hidden; position: relative; height: 50px; width: 50px; margin-bottom: 4px; }
.popup__userpic i { display: none; }
.popup__userpic.is-selected { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 3px solid #075f97; background: rgba(7, 95, 151, 0.5); }
.popup__userpic.is-selected i { display: block; position: absolute; bottom: -1px; right: -2px; background: url('../img/icons-s33fde62b07.png') 0 -4808px no-repeat; width: 19px; height: 19px; content: ""; }
.popup__userpic img { min-height: 50px; max-width: 50px; position: relative; z-index: -1; }

.popup__username { text-align: center; width: 50px; display: block; overflow: hidden; text-overflow: ellipsis; color: #2a72a8; font-size: 10px; }

.userdata_alt, .balance_alt { background: none; border: none; border-radius: none; box-shadow: none; }

.balance_alt { border-left: 1px dotted #b2cee0; margin-top: 20px; padding-top: 0; }

.l_alt { border: 1px solid #C2C8C9; border-radius: 6px; background: #e8f5fa; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.userdata__balance-btn { text-align: center; }

.benefits_alt { padding: 15px 0 20px 0; }

.benefits_alt__text { font-size: 18px; font-weight: bold; color: #fff; padding: 0 30px; }

.deal__text { font-size: 15px; color: #252525; font-weight: bold; margin-right: 90px; margin-bottom: 10px; }

.deal.deal_alt .deal__right { margin-top: 10px; }
.deal.deal_alt .deal__right .formline input { margin-bottom: 10px; }
.deal.deal_alt .deal__right .socials { margin-top: 10px; }
.deal.deal_alt .deal__right .socials dt { font-size: 18px; }

.deal__auth { font-size: 14px; margin-top: 10px; margin-bottom: 20px; }
.deal__auth a { color: #252525; }

.checkout__wrap .formline_contacts { position: relative; text-align: right; margin-bottom: 10px; }
.checkout__wrap .formline_contacts input { margin-right: 0; }
.checkout__wrap .select { display: inline-block; }
.checkout__wrap .select__location { width: 136px; }
.checkout__wrap .formline__name { width: 166px; }
.checkout__wrap .formline__street { width: 131px; }
.checkout__wrap .formline__short_check { width: 26px; }
.checkout__wrap .formline__zip { width: 46px; }
.checkout__wrap .formline__tel { width: 126px; }
.checkout__wrap .formline__comment { resize: vertical; width: 418px; height: 51px; padding: 10px 10px; border-radius: 4px; border: 1px solid #c7c7c7; box-shadow: inset 0 1px 0 #c7c7c7; font-size: 14px; }
.checkout__wrap .button_check { margin-top: 20px; margin-bottom: 30px; }
.checkout__wrap .formline__radio { position: absolute; top: 0; left: 0; }
