@import 'base';
.deal{
	@extend %box;
	margin-bottom: 23px;
	position: relative;
	padding: 19px;
	@extend %clr;
	.deal__discount{
		@extend %discount;
	}
	.deal__left{
		float: left;
		width: 482px - 22px;
		padding-right: 22px;
		border-right: 1px dotted #b5d0e2;
	}
	.deal__right{
		width: 360px;
		float: right;
	}
	.deal__title{
		font-size: 24px;
		color: #333;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 12px;
	}
	.deal__tags{
		@extend .tags;
		.deal__tagsicon{
			@include sized-sprite($icons, tags);
			opacity: .3;
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
			position: relative;
			top: -1px;
		}
	}
	.deal__label{
		font-size: 13px;
		font-weight: bold;
		color: #555;
	}
	.deal__prices{
		@extend %clr;
		padding: 7px 0 12px;
	}
	.deal__nominal{
		float: left;
		width: 132px;
		strong{
			font-size: 20px;
			display: block;
			font-weight: bold;
		}
	}
	.deal__nominaldiscount{
		width: 124px;
		float: left;
		strong{
			font-size: 20px;
			display: block;
			font-weight: bold;
		}
	}
	.deal__timeleftwrap{
		padding: 15px 0 12px 0;
		border-top: 1px dotted #b5d0e2;
		border-bottom: 1px dotted #b5d0e2;
		@extend %clr;
		.deal__label,dl,.deal__timeleftsep{
			float: left;
		}
		.deal__label{
			width: 92px;
		}
		.deal__timeleftdays{
			margin-right: 20px;
		}
		dl,.deal__timeleftsep{
			text-align: center;
			margin-right: 5px;
		}
		dt,.deal__timeleftsep{
			font-size: 28px;
			display: block;
			line-height: 1;
			-webkit-mask-image:-webkit-linear-gradient(rgba(60, 60, 60, 0.4)  20%, black 50%);
		}
		.deal__timeleftsep{
			position: relative;
			top: -1px;
		}
		dd{
			font-size: 12px;
			color: #999;
			line-height: 1;
		}
	}
	.deal__bought{
		font-weight: bold;
		color: #749c1f;
		font-size: 19px;
		padding-left: 32px;
		position: relative;
		line-height: 1;
		margin: 24px 0 37px 0;
		.deal__boughticon{
			display: inline-block;
			@include sized-sprite($icons, dealbought);
			position: absolute;
			left: 0;
			top: -1px;
		}
	}
	.deal__socials{
		border-top: 1px dotted #b5d0e2;
		padding-top: 17px;
		.deal__label{
			display: block;
			margin-bottom: 10px;
		}
	}
	.deal__size{
		padding: 14px 0 0 0;
		margin-bottom: 22px;
		@extend %clr;
		.deal__label{
			margin-bottom: 11px;
		}
	}
	.deal__number{
		float: left;
		width: 100px;
		margin-right: 20px;
	}
	.deal__wrap{
		@extend %clr;
		.deal__label{
			display: block;
			margin-bottom: 9px;
		}
	}
	.deal__color{
		float: left;
		width: 180px;
		&.deal__color_margin{
			margin-bottom: 10px;
		}
		.select{
			position: relative;
			select{
				-webkit-appearance:none;
				width: 100%;
				height: 30px;
				position: absolute;
				opacity: 0;
				left: 0;
				top: 0;
				z-index: 2;
			}
			i{
				position: absolute;
				right: 10px;
				top: 13px;
				@include sized-sprite($icons, selectar);
				.lteie8 &{
					display: none;
				}
			}
			.select__value{
				border: 1px solid #c7c7c7;
				border-radius: 3px;
				width: 160px;
				padding: 0 4px 0 10px;
				height: 30px;
				line-height: 30px;
				color: #737373;
				.lteie8 &{
					border: none;
				}
			}
		}
	}
	.deal__buttons{
		margin-top: 36px;
		@extend %clr;
	}
	.deal__addtocart{
		float: left;
		width: 258px;
		border: 1px solid #e7d700;
		border-radius: 6px;
		position: relative;
		@include background-image(linear-gradient(#ffffe6, #fff));
	}
	.deal__buy{
		@extend %bigbutton;
		padding: 0;
		width: 122px;
		position: absolute;
		top: -1px;
		right: -1px;
		text-align: center;
		.deal__chooseicon{
			@include sized-sprite($icons, choose);
			vertical-align: middle;
			display: inline-block;
			position: relative;
			top: -1px;
		}
		&.deal__choose{
			width: auto !important;
			white-space:nowrap;
			display: inline-block;
			padding: 0 10px;
		}
	}
	.deal__price{
		height: 56px;
		line-height: 56px;
		float: left;
		width: 132px;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}
	.deal__finished{
		height: 56px;
		line-height: 56px;
		width: 300px;
		text-align: center;
		font-size: 24px;
		color: #111;
		font-weight: bold;
	}
	.deal__addtocartbutton{
		@extend %addtocart;
		float: right;
		width: 92px;
	}
	&.deal_alt{
		padding: 0;
		.deal__left{
			width: 550px;
			height: 325px;
			padding: 0;
			border: #000;
			.pics__wrap{
				width: 550px;
				height: 325px;
				div{
					border-radius: 0;
					border-top-left-radius:6px;
					border-bottom-left-radius:6px;
				}
			}
		}
		.deal__right{
			width: 307px;
			margin-right: 20px;
			margin-top: 20px;
			.deal__socials{
				border: none;
				padding-top: 7px;
			}
			.deal__bought{
				margin-bottom: 15px;
			}
			.deal__timeleftwrap{
				border-bottom: none;
			}
			.deal__buttons{
				margin-top: 8px;
			}
		}
		.deal__addtocart{
			width: 300px;
		}
	}
}
.deal__titlemeta{
	margin: 0 10px;
}


.choose{
	@extend %bigbutton;
	padding: 0 20px;
	text-align: center;
	.choose__icon{
		@include sized-sprite($icons, choose);
		vertical-align: middle;
		display: inline-block;
		position: relative;
		top: -1px;
	}
}
.number{
	input{
		border: 1px solid #c7c7c7;
		width: 30px;
		text-align: center;
		height: 30px;
		float: left;
		font-size: 14px;
		position: relative;
		z-index: 2;
		.lteie8 &{
			padding-top: 6px;
			height: 24px;
		}
	}
	.number__minus{
		position: relative;
		width: 32px;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
		float: left;
		border: 1px solid #c7c7c7;
		border-right: none;
		height: 30px;
		background-color: #f1f5f8;
		@include background-image(linear-gradient(#f1f5f8, #e7eef2));
		cursor: pointer;
		i{
			position: absolute;left:0;top:0;
			@include sized-sprite($icons, minus);
		}
		&:hover{
			background-color: #fff;
			@include background-image(linear-gradient(#fff, #e7edf2));
		}
		&:active{
			background-color: #d9e4eb;
			@include background-image(linear-gradient(#d9e4eb, #f0f4f7));
		}
	}
	.number__plus{
		@extend .number__minus;
		i{
			@include sized-sprite($icons, plus);
		}
		border-radius: 0;
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
		border: 1px solid #c7c7c7;
		border-left: none;
		height: 30px;
	}
}

.tags{
	font-size: 12px;
	margin-bottom: 14px;
	a{
		color: #959595;
		margin-right: 2px;
		&:hover{
			text-decoration: none;
		}
	}
	.tags__icon{
		@include sized-sprite($icons, tags);
		opacity: .3;
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}
}
.size{
	list-style: none;
	li{
		float: left;
	}
	a{
		float: left;
		width: 33px;
		height: 24px;
		line-height: 24px;
		font-weight: bold;
		font-size: 9px;
		color: #535353;
		text-align: center;
		border: 1px solid #d2d2d2;
		text-decoration: none;
		margin-right: 6px;
		position: relative;
		@include background-image(linear-gradient(#f2f5f8, #e7eef2));
	}
	.size__disabled{
		position: relative;
		top: 1px;
		a{
			background: #fff;
			color: #d5d5d5;
			height: 22px;
			line-height: 22px;
		}
		i{
			position: absolute;
			left: -1px;
			top: -1px;
			@include sized-sprite($icons, sizedisabled);
		}
	}
	.size__active{
		i{
			position: absolute;
			left: -1px;
			top: -1px;
			@include sized-sprite($icons, sizeactive);
		}
	}
}
.gallery{
	@extend %clr;
	.gallery__thumbs{
		float: left;
		width: 50px;
		list-style: none;
		li{
			margin-bottom: 9px;
			&.activeSlide{
				box-shadow:0 0 2px 2px #b5d0e2;
			}
		}
		img,a{
			display: block;
		}
	}
	.gallery__caro{
		float: right;
		width: 400px;
		position: relative;
	}
	.gallery__next{
		@extend %next;
		display: block;
	}
	.gallery__prev{
		@extend %prev;
		display: block;
	}
}
.dealinfo{
	border-bottom: 1px dotted #b5d0e2;
	padding-bottom: 21px;
	.dealinfo__nav{
		margin-bottom: 22px;
		@extend .nav;
		@include background-image(linear-gradient(#f2f5f8, #e7eef2));
		margin-right: 520px - 593px;
		ul{
			list-style: none;
		}
		li{
			float: left;
			&.dealinfo__nav1 a{width: 117px - 20px;}
			&.dealinfo__nav2 a{width: 180px - 20px;}
			&.dealinfo__nav3 a{width: 186px - 20px;}
			&.dealinfo__nav4 a{width: 107px - 20px;}
		}
		a{
			float: left;
			padding-left: 20px;
			color: #707274;
			&:hover{
				color: #000;
				background: #f9fbfc;
				box-shadow:0 4px 4px  rgba(#000,0.1);
			}

		}
		a.active{
			color: #000;
				background: #f9fbfc;
				box-shadow:0 4px 4px  rgba(#000,0.1);
		}
		&.dealinfo__nav_short{
			display: inline-block;
			a{
				padding-right: 14px;
			}
		}
	}
	.dealinfo__text{
		font-size: 14px;
		line-height: 1.4;
		h3{
			font-size: 17px;
			font-weight: bold;
			margin: 0 0 4px 0;
		}
		ul{
			list-style: none;
			margin-bottom: 20px;
		}
		li{
			border-bottom: 1px dotted #b5d0e2;
			padding: 9px 0;
			&:last-child{
				border-bottom: none;
			}
		}
		p{
			margin-bottom: 1em;
		}
	}
	.dealinfo__subtle{
		color: #959595;
	}
	.dealinfo__buttons{
		text-align: right;
		border-top: 1px dotted #b5d0e2;
		padding-top: 21px;
		.dealinfo__buy{
			@extend %bigbutton;
			vertical-align: top;
		}
		.dealinfo__addtocart{
			@extend %addtocart;
			vertical-align: top; 
			margin-left: 10px;
		}
	}
}
.place{
	@extend %clr;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 14px;
	.place__left{
		float: left;
		width: 300px;
	}
	.place__right{
		float: right;
		width: 204px;
		p{
			margin-bottom: 10px;
		}
	}
	.place__org{
		color: #959595;
	}
	.place__addr{
		font-weight: bold;
		color: #000;
	}
	.place__info{
		span{
			display: block;
			color: #959595;
		}
	}
}

.sharedeal{
	@extend %blueblock;
	margin-top: 20px;
	color: #357eb5;
	.sharedeal__text{
		color: #357eb5;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.5;
	}
	.sharedeal__icon{
		position: relative;
		top: 2px;
		float: left;
		margin-right: 10px;
		@include sized-sprite($icons, sharedeal__icon);
	}
	.sharedeal__socials{
		margin-top: 20px;
	}
}
.deal-more__wrap{
	position: relative;
	display: inline-block;
	.deal__buttons &{
		float: right;
	}
}
.deal-more{
	position: absolute;
	right: 0;
	top: 60px;
	width: 700px - 40px;
	padding: 20px;
	z-index: 100;
	background: #ffffff;
	border-radius: 6px;
	@include background-clip(padding-box);
	background-color: #f0f4f7;
	@include box-shadow(0 2px 5px rgba(0,0,0,.13), 0 0 18px rgba(37,104,145,.45), inset 0 1px 1px rgba(255,255,255,.75));
	@include background-image(linear-gradient(bottom, #e7edf1 0%, #f1f5f7 100%));
	.deal-more__title{
		font-size: 24px;
		line-height: 1;
		color: #222;
		margin-bottom: 15px;
	}
	.deal-more__close{
		@include sized-sprite($icons, deal-more__close);
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 20px;
		display: inline-block;
	}
	&:before{
		content:' ';
		display: inline-block;
		position: absolute;
		right: 20px;
		top: -7px;
		@include sized-sprite($icons, arr-top);
	}
}
.deal-small{
	margin-bottom: 10px;
	@include opacity(.7);
	border: 1px solid #c1c7c9;
	@include border-radius(7px);
	@include background-clip(padding-box);
	background-color: #f9fbfc;
	@include box-shadow(0 2px 5px rgba(0,0,0,.1));
	padding: 14px 18px 10px 10px;
	overflow: hidden;
	.deal-small__pic{
		float: left;
		width: 90px;
		margin-right: 10px;
		img{
			border: 1px solid #cacfd0;
		}
	}
	.deal-small__link{
		width: 309px;
		float: left;
		color: #000;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.3em;
	}
	.deal-small__price{
		@extend %price;
		text-align: right;
		float: left;
		width: 106px;
		position: relative;
		margin-top: 19px;
		.price__old{
			text-align: right;
			position: absolute;
// 			top: -12px;
			bottom: 17px;
			right: 0;
			font-size: 10px;
			white-space:normal;
			width: 80px;
			&:before{
				border: none;
				background: red;
				@include sized-sprite($icons, thru);
				position: absolute;
				right: 4px;
				top: 0px;
				left: auto;
			}
			&.price__old_none{
				&:before,:after{display: none;}
			}
		}
		.price__actual{
			font-size: 18px;
			margin: 0;
			padding: 0;
		}
	}
	.deal-small__buy{
		float: right;
		margin-top: 5px;
		@extend %button;
	}
}


.commentform{
	margin: 20px 0;
	.commentform__title{
		margin-bottom: 15px;
	}
	.commentform__accept{
		margin: 10px 0;
		font-size: 12px;
		a{
			color: #000;
		}
		input{
			margin-right: 4px;
		}
	}
	.commentform__comment{
		margin-top: 14px;
		textarea{
			border-radius: 4px;
			border: 1px solid #c7c7c7;
			box-shadow:inset 0 1px 0 #c7c7c7;
			font-size: 14px;
			width: 500px - 18px;
			color: #777;
			padding: 9px;
			&:focus{
				color: #000;
			}
		}
	}
	.commentform__author{
		input{
			padding: 0 10px;
			border-radius: 4px;
			border: 1px solid #c7c7c7;
			box-shadow:inset 0 1px 0 #c7c7c7;
			font-size: 14px;
			height: 30px;
			width: 244px;
		}
	}

}
.thread{
	border-bottom: 1px dotted #b5d0e2;
	margin-bottom: 25px;
}
.comment{
	margin-bottom: 13px;
	.comment__text{
		font-size: 14px;
		color: #000;
		margin-bottom: 4px; 
		p{
			margin-bottom: 1em;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.comment__author{
		font-weight: bold;
		margin-right: 5px;
	}
	.comment__published{
		color: #898989;
		font-size: 12px;
	}
	&.comment__response{
		color: #0f71b3;
		margin-left: 21px;
		padding-left: 10px;
		border-left: 1px solid #9fc6e1;
		p{
			margin-bottom: 1em;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&.comment_tab{
		margin-left: 62px;
	}
}







