@import "base";

/* default layout */
.l{
	@extend %clr;

	.l-col1{
		float:left;
		width: 520px;
	}
	&.l_static .l-col1{
		width: 635px;
	}

	.l-col2{
		float:right;
		width: 288px;
		width: 342px;
	}
	&.l_static .l-col2{
		width: 246px;
	}
}
.page{
	@extend %site;
}

