@import 'base';

.subnav{
	@extend %blueblock;
	padding: 7px 0;
	ul{
		list-style: none;
		a{
			display: block;
			font-size: 16px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
			padding: 4px 0 4px 20px;
			position: relative;
			&.is-active{
				background: #acd373;
				&:before{
					content: ' ';
					position: absolute;
					margin-top: -10px;
					top: 50%;
					left: -12px;
					@include sized-sprite($icons, subnav-arr);
				}
			}

		}

	}
}

.callus{
	margin-left: 47px;
	h3{
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 14px;
	}
	.callus__phone{
		color: #444b50;
		font-size: 24px;
		position: relative;
		line-height: 1;
		&:before{
			position: absolute;
			content: ' ';
			left: -21px;
			top: 2px;
			@include sized-sprite($icons, phone);
		}
	}
	.callus__hours{
		margin-top: 17px;
		color: #898989;
		font-size: 13px;
		border-radius: 6px;
		font-weight: bold;
		display: inline-block;
		border: 1px solid #d8dfe3;
		padding: 3px 8px;
	}
}
.social-block{
	margin-bottom: 23px;
}
.map{
	margin-top: 20px;
	h3{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	p{
		margin-bottom: 10px;
	}
	h3,p{
		margin-left: 20px;
	}
}

.helpme{
	@extend %blueblock;
	padding-right: 0;
	.helpme__title{
		color: #767f80;
		font-weight: bold;
		font-size: 12px;
		margin-bottom: 6px;
	}
	.helpme__button{
		@extend %greenbutton;
	}
	.helpme__phone{
		font-size: 32px;
		color: #444b50;
		margin-bottom: 6px;
	}
}

.text{
	color: #111;
	font-size: 14px;
	line-height: 1.4;
	p{
		margin-bottom: 1.2em;
	}
	h2{
		font-size: 18px;
		font-weight: bold;
		margin: 16px 0 4px 0;
	}
	.subtle{
		color: #898989;
	}
	&.text_narrow{
		p{
			margin-right: 250px;
		}
	}
	ul{
		margin: 1em 2em;
		line-height: 1.5;
		&.list-style-none{
			list-style: none;
		}
	}
	.green{
		color: #4a8f16;
	}
	.lead{
		font-size: 18px;
	}
	code{
		font-weight: bold;
		border: 1px solid rgba(144,144,144,.5);
		@include border-radius(3px);
		box-shadow: 0 -1px 0 #d2d2d2;
		background-color: #fff;
		padding: 3px 5px;
		font-family: Arial,sans-serif;;
	}
}
.linkmore{
	@include border-radius(6px);
	background-color: #fff;
	border: 3px solid #b0cad2;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #000;
	height: 37px;
	line-height: 37px;
	margin-top: 20px;
	a{
		color: #0f71b3;
	}
	&.linkmore_alt{
		background: #f5f5f5;
		border: none;
		strong{
			color: #075f97;
		}
		span{
			font-weight: normal;
			color: #898989;
		}
	}
}

.contactform{
	@extend %clr;
	padding: 18px 0;
	border: 1px solid #d0d8dd;
	border-radius: 6px;
	position: relative;
	z-index: 10;
	background: #fff;
	.contactform__right{
		float: right;
		padding-left: 20px;
		border-left: 1px dotted #b2cee1;
		width: 200px;
		margin-right: 10px;
		dt{
			font-weight: bold;
			margin-bottom: 4px;
		}
		dd{
			margin-bottom: 5px;
		}
		a{
			font-size: 12px;
		}
	}
	.contactform__left{
		width: 608px;
		float: left;
		padding-top: 18px;
	}
	.select{
		width: 350px;
		input{
			width: 330px;
		}
	}
}
.weird-background-image{
	background: url(../img/weird.jpg) no-repeat 100% 100%;
	min-height: 188px;
	position: relative;
	top: 3px;
	left: 26px;
}
.weird-background-image{
	
}
.form_contact{
	margin-left: 24px;
	textarea{
		width: 590px;
		height: 100px;
		padding: 5px 10px;
		@extend %input;
		color: #777;
		&:focus{
			color: #000;
		}
	}
	.form__row{
		margin-bottom: 14px;
	}
	.form__submit{
		margin-top: 23px;
	}
}