@import 'base';

.checkout__wrap{
	@extend %box;
	padding: 13px 20px 20px 20px;
}
.selectreplaced{
	margin-left: 6px;
}
.checkout__table{
	width: 100%;
	border-spacing:0;
	border-collapse:collapse;
	margin-bottom:12px;
	td{
		vertical-align: top;
	}
	thead th{
		padding-bottom: 15px;
		color: #737373;
		font-weight: normal;
		font-size: 13px;
		text-align: left;
	}
	.checkout__t1{ 
		width: 136px;
		padding-right: 14px;
	}
	.checkout__t2{
		width: 405px;
		padding-right: 10px;
		text-align: left;
	}
	.checkout__t3{ 
		text-align: center;
		width: 102px;
		vertical-align: middle;
	}
	.checkout__t4{
		text-align: right;
		vertical-align: middle;
	}
	td.checkout__t4{
		font-size: 18px;
		font-weight: bold;
	}
	
	
}
.selectreplaced{
	border-radius: 4px;
	border: 1px solid #c7c7c7;
	box-shadow:inset 0 1px 0 #c7c7c7;
	font-size: 14px;
	height: 30px;
	display: inline-block;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 650px;
	position: relative;
	vertical-align: middle;
	.selectreplaced__actual{
		position: absolute;
		opacity: 0;
		height: 32px;
		-webkit-appearance:none;
		width: 100%;
		z-index: 3;
		top: 0;
		left: 0;

	}
	i{
		position: absolute;
		right: 10px;
		top: 12px;
		display: inline-block;
		z-index: 2;
		@include sized-sprite($icons, select);
	}
	.selectreplaced__value{
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
	}
}
.checkout__address{
	label{
		vertical-align: middle;
	}
}
.checkout__details{
	margin: 20px 0 20px 10px;
}

.present{
	font-size: 14px;

	input{
		vertical-align: middle;
	}
	.present__icon{
		@include sized-sprite($icons, present);
		display: inline-block;
		vertical-align: middle;
		margin: 0 4px;
		position: relative;
		top: -2px; 
	}
	.present__input{
		vertical-align: middle;
		width: 276px;
		width: 292px - 2px - 10px - 10px;
		padding: 0 10px;
		border-radius: 4px;
		border: 1px solid #c7c7c7;
		box-shadow:inset 0 1px 0 #c7c7c7;
		font-size: 14px;
		height: 30px;
		position: relative;
		top: -2px;
	}
	label{
		margin-right: 10px;
		vertical-align: middle;
	}
}

.payment{
	@extend %clr;
	margin-bottom: 30px;
	ul{
		list-style: none;
	}
	.payment__item{
		text-align: center;
		float: left;
		width: 98px;
		height: 118px;
		margin-right: 10px;
		border: 1px solid #879fb3;
		@include border-radius(5px);
		background-color: #b6b6b6;
		@include box-shadow(inset 0 -4px 0 rgba(47,65,77,.51));
		@include background-image(linear-gradient(bottom, #bcd0df -25%, #f3f7f9 125%));
		position: relative;
		cursor: pointer;
		&:hover{
			background: #ecf2f6;
			@include box-shadow(inset 0 -4px 0 rgba(47,65,77,.81));
		}

	}
	.payment__help{
		position: absolute;
		top: 4px;
		right: 5px;
		@include sized-sprite($icons, help1);
		display: inline-block;
		z-index: 100;
		cursor: pointer;

	}
	.payment__info{
		padding-top: 20px;
		strong{
			font-size: 22px;
			color: #333;
			display: block;
			text-align: center;
			margin-top: 10px;
		}
	}
	.payment__title{
		position: absolute;
		bottom: 13px;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		z-index: 20;
	}
	.payment__icon{
		display: inline-block;
		top: 50%;
		margin-top: -45px;
		position: relative;
	}
	@each $s in visa, privat, bank, terminal, interkassa, webmoney, liqpay{
		.payment__#{$s} .payment__icon{
			@include sized-sprite($icons, c-#{$s});
		}
	}
	//alternative view
	&.payment_alt{
		.payment__item{
			width: 95px;
			margin-right: 0;
			border: none;
			background: transparent;
			@include box-shadow(none);
			position: relative;
			cursor: pointer;
			&:hover{
				background: transparent;
				@include box-shadow(none);
			}
			label{
				cursor: pointer;
			}
		}
		.payment__help{
			top: -2px;
			right: -2px;
		}
		.payment__icon{
			display: inline-block;
			top: 0;
			margin-top: 0;
			height: 50px;
			position: relative;
		}
		.payment__info{
			height: 42px;
			padding: 10px 0 0 0;
			strong{
				font-size: 12px;
				padding-top: 0;
				margin: 0;
			}
		}
		.payment__title{
			position: static;
			width: auto;
			text-align: center;
			font-size: 12px;
			font-weight: bold;
			b{
				display: block;
				padding-top: 3px;
			}
		}
		@each $s in visa, privat, bank, terminal, interkassa, webmoney, liqpay{
			.payment__#{$s} .payment__icon{
				@include sized-sprite($icons, c1-#{$s});
			}
		}
		.payment__bonuses{
			background: #f3fafc;
			border-radius: 6px;
			border: 1px solid #c2c8c9;
			margin-left: 10px;
			height: auto;
			padding-bottom: 14px;
		}
	}
}

.printfile{
	@extend %blueblock;
	h3{
		font-size: 14px;
		color: #333;
		margin-bottom: 10px;
	}
	.printfile__button{
		vertical-align: top;
		display: inline-block;
		text-decoration: none;
		border: 1px solid #c1c7c9;
		@include border-radius(7px);
		background-color: #ebebeb;
		@include box-shadow(inset 0 1px 1px rgba(255,255,255,.3));
		@include background-image(linear-gradient(bottom, rgba(234,233,235,.2) 0%, rgba(255,255,255,.2) 100%));
		color: #000;
		font-size: 16px;
		font-weight: bold;
		height: 35px;
		line-height: 35px;
		padding: 0 20px;
		i{
			display: inline-block;
			@include sized-sprite($icons, print);
			margin-right: 4px;
		}
	}
}
.file{
	display: inline-block;
	margin-right: 30px;
	margin-top: 12px;
	a{
		color: #0e6fb0;
		font-size: 14px;
		font-weight: bold;
	}
	span{
		font-size: 12px;
		color: #898989;
		display: block;
		padding-top: 1px;
	}
	.file__icon{
		@include sized-sprite($icons, pdf);
		float: left;
		margin-right: 6px;
		position: relative;
		top: -10px;
	}
}

.smspay{
	@extend %blueblock;

}
.table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	th{
		padding-bottom: 15px;
		color: #737373;
		font-weight: normal;
		font-size: 13px;
		text-align: left;
	}
	td{
		vertical-align: top;
	}
	.table__t1{
		width: 135px;
	}
	.table__t2{
		width: 202px;
	}
	.table__t3{
		width: 180px;
	}
	strong{
		
		font-size: 28px;
		display: block;
		margin-bottom: 8px;
	}
	em{
		color: #138bc0;
		font-style: normal;
	}
}
.accos{
	margin-bottom: 50px;
}
.acco{
	margin-bottom: 12px;
	background: #f1f5f8;
	border-radius: 6px;
	border: 1px solid #d7dfe3;
	.acco__head{
		border-radius: 6px;
		background-color: #ebebeb;
		@include box-shadow(inset 0 1px 1px #fff);
		@include background-image(linear-gradient(bottom, #e5ebf1 -25%, #f3f7f9 125%));
		padding: 0 0 0 14px;
		height: 42px;
		line-height: 42px;
		font-weight: bold;
		cursor: pointer;
		position: relative;
		.acco__arrow{
			position: absolute;
			right: 16px;
			top: 19px;
			@include sized-sprite($icons, arrbot);
		}
	}
	.acco__content{
		padding: 15px 0;
		border-top: 1px solid #e5eaed;
		box-shadow:0 -1px 0 #fff;
		.text{
			margin-left: 44px;
			width: 600px;
		}
	}
	&.is-open{
		.acco__head{
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			background: #f2f6f8;
			.acco__arrow{
				@include sized-sprite($icons, arrtop);
			}
		}
	}
}









