@import "base";

.topper{
	background-color: #363636;
	@include background-image(linear-gradient(#363636, #252525));
	box-shadow: 0 0 5px rgba(#000,.8);
	.topper__content{
		@extend %site;
		position: relative;
		height: 36px;
		z-index: 200;
	}
	.city{
		display: inline-block;
		height: 36px;
		line-height: 36px;
		color: #ebebeb;
		.city__current{
			font-weight: bold;
			color: #ebebeb;
			text-decoration: none;
			margin-right: 10px;
			i{
				@include sized-sprite($icons, city__down);
				display: inline-block;
				vertical-align: middle;
				margin-left: 4px;
			}
		}
		.city__change{
			color: #ebebeb;
			text-decoration: none;
		}
	}
	.topper__other{
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		width: 80%;
	}
	.topper__nav{
		display: inline;
		display: inline-block;
		list-style: none;
		li,a{
			display: inline;
			display: inline-block;
		}
		a{
			height: 36px;
			line-height: 36px;
			text-decoration: none;
			color: #ebebeb;
			margin-right: 12px;
		}
	}
	.topper__help{
		display: inline-block;
		text-decoration: none;
		vertical-align: top;
		color: #cfcfcf;
		line-height: 36px;
		height: 36px;
		margin-right: 18px;
		&:hover{
			color: #ebebeb;
			i{
				@include sized-sprite($icons, help_hover);
			}
		}
		i{
			@include sized-sprite($icons, help);
			vertical-align: middle;
			margin-right: 3px;
			display: inline-block;
		}

	}
	.hsocials{
		display: inline-block;
		line-height: 1;
		vertical-align: top;
		padding-top: 8px;
		margin-right: 30px;
		margin-left: 16px;
		a{
			display: inline-block;
			@extend %hide-text;
			margin-right: 5px;
			vertical-align: top;
			@each $social in fb, vk, gp{
				&.hsocials__#{$social}{
					@include sized-sprite($icons, #{$social});
					&:hover{
						@include sized-sprite($icons, #{$social}_hover);
					}
				}
			}
		}
	}
}
//profile module
.profile{
	display: inline-block;
	color: #ebebeb;
	background: #000;
	border: 1px solid #3a3a3a;
	border-radius: 5px;
	padding: 1px;
	height: 23px;
	line-height: 23px;
	vertical-align: top;
	position: relative;
	top: 5px;
	div{
		display: inline-block;
	}
	.profile__meta{
		padding: 0 9px;
	}
	.profile__sep{
		display: inline-block;
		@include sized-sprite($icons, dot);
		vertical-align: middle;
	}
	.profile__balance{
		font-weight: bold;
	}
	.profile__bonus{
		display: inline-block;
	}
	.profile__user{
		height: 23px;
		line-height: 23px;
		display: inline-block;
		border-radius: 4px;
		background-color: #6db238;
		@include background-image(linear-gradient(#6db238, #3e8309));
		box-shadow:inset 0 2px 2px rgba(#fff,0.4);
		padding: 0 12px 0 11px;
		cursor: pointer;
		color: #ebebeb;
		.profile__usericon{
			display: inline-block;
			@include sized-sprite($icons, user_icon);
			margin-right: 5px;
			vertical-align: middle;
			position: relative;
			top: -1px;
		}
		.profile__username{
			i{
				display: inline-block;
				@include sized-sprite($icons, user_arrow);
				margin-left: 3px;
				vertical-align: middle;
			}
		}
		a{
			color: #ebebeb;
			text-decoration: none;
		}
	}
	.profile__drop{
		position: absolute;
		right: 13px;
		top: 35px;
		background: #fff;
		box-shadow:0 0 10px rgba(#000,0.6);
		z-index: 100;
		display: none;
		text-align: left;
		width: 160px;
		border-radius: 6px;
		&:before{
			content:'';
			position: absolute;
			left: 50%;
			top: -10px;
			margin-left: -10px;
			@include sized-sprite($icons, drop-arrow);
		}
		ul{
			list-style: none;
			padding: 5px 0;
		}
		li,a{
			line-height: 1;
			display: block;
		}
		.profile__logout{
			border-top: 1px solid #ebebeb;
			margin-top: 3px;
			a{
				position: relative;
				padding-top: 8px;
				&:hover{
					color: #4a8f16;
					&:before{
						@include sized-sprite($icons, logout_hover);
					}
				}
				&:before{
					position: absolute;
					content:'';
					display: inline-block;
					left: 11px;
					top: 10px;
					@include sized-sprite($icons, logout);
				}
			}
		}
		a{
			color: #111;
			font-size: 13px;
			font-weight: bold;
			text-decoration: none;
			display: block;
			padding: 7px 5px 7px 24px;
			&:hover{
				color: #0e6fb0;
			}
		}
	}
}

// black stuff at top of the page
.location{
	background-color: #363636;
	@include background-image(linear-gradient(#363636, #252525));
	.location__content{
		@extend %site;
		@extend %clr;
		padding: 25px 0 18px 0;
		position: relative;
	}
	ul{
		list-style: none;
		float: left;
		margin-left: 34px;
		display: inline;
		padding-top: 6px;
	}
	li{
		font-weight: bold;
		a{
			text-decoration: none;
			display: inline-block;
			padding: 4px 12px;
			color: #fff;
			border-radius: 6px;
			&:hover{
				background: #acc479;
				color: #000;
				@include transition(all, .1s, ease-in-out);
				b{
					span{
						top: -10px;
						left: -10px;
						@include transition(all, .3s, ease-in-out);
						opacity: 1;
					}
				}
			}
			&.location__current{
				position: relative;
				i{
					position: absolute;
					left: -10px;
					top: 3px;
					display: inline-block;
					@include sized-sprite($icons, location__current);
				}
				b{
					display: none;
				}
				&:hover{
					background: transparent;
					color: #fff;
				}
			}
			b{
				position: absolute;
				left: 300px + 100px + 209px;//whatever
				top: 50px + 27px;//whatever
				width: 7px;
				height: 7px;
				border-radius: 30px;
				//@include transition(all, .3s, ease-in-out);
				//@include boxsizing();
				background: #88a0b1;
				span{
					position: absolute;
					top: -10px;
					left: -10px;
					background: #88a0b1;
					width: 7px;
					height: 7px;
					border-radius: 30px;
					opacity: 0;
					border: 10px solid rgba(#fff,1);
				}
			}
		}
	}
	.location__map{
		float: right;
		margin-right: 73px;
	}
}

.header{
	height: 50px;
	margin: 15px 0;
	position: relative;
	.header__logo{
		float: left;
		a{
			@extend %hide-text;
			@include sized-sprite($icons, logo);
			position: absolute;
			top: -1px;
			left: -23px;
		}
	}
	.header__banner{
		width: 676px;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 6px;
		box-shadow:0 0 3px rgba(#000,0.3);
		height: 48px;
	}
}
.invite-friend{
	text-decoration: none;
	display: block;
	background: rgba(#fff,0.5);
	border-radius: 6px;
	height: 46px;
	line-height: 48px;
	text-align: center;
	border: 1px solid #fff;
	font-size: 16px;
	color: #2873aa;
	font-weight: bold;
}

.nav{
	height: 51px - 2px;
	margin-bottom: 15px;
	border: 1px solid #d8dfe3;
	border-radius: 6px;
	@include background-image(linear-gradient(#f9fcf9, #f6fbf6));
	box-shadow:inset 0 1px 0  #fff, inset 0 -1px 0  #d8dfe3;
	ul{
		list-style: none;
		ul{
			display: none;
		}
	}
	li{
		position: relative;
		float: left;
		&.nav__all{width: 160px;i{@include sized-sprite($icons, nav__all);top:-2px;}}
		&.nav__bea{width: 148px;i{@include sized-sprite($icons, nav__bea);top:-5px;}}
		&.nav__tur{width: 143px;i{@include sized-sprite($icons, nav__tur);top:-3px;}}
		&.nav__foo{width: 108px;i{@include sized-sprite($icons, nav__foo);top:-3px;margin:0 9px 0 6px}}
		&.nav__goo{width: 174px - 20px;i{@include sized-sprite($icons, nav__goo);top:-3px;}}
		&.nav__new{width: 168px + 20px;i{@include sized-sprite($icons, nav__new);top:-4px;}}
		&:before{
			content:' ';
			position: absolute;
			right: 0;
			top: 1px;
			@include sized-sprite($icons, nav_sep);
		}
		&:last-child:before{
			display: none;
		}
		&:last-child{
			a{
				border-top-right-radius:6px;
				border-bottom-right-radius:6px;
				&:hover:after{
					display: none;
				}
			}
		}
		&:first-child{
			a{
				border-top-left-radius:6px;
				border-bottom-left-radius:6px;
				&:hover:before{
					display: none;
				}
			}
		}
	}

	a{
		font-size: 17px;
		font-weight: bold;
		text-decoration: none;
		color: #111;
		display: block;
		padding-left: 8px;
		height: 48px;
		line-height: 48px;
		position: relative;
		span{
			font-size: 12px;
			color: #111;
			font-weight: normal;
			border: 1px solid #dadcdc;
			border-radius: 6px;
			border-top: 1px solid #9b9d9d;
			padding: 2px 4px;
			line-height: 1;
			background: #f9fbfc;
			margin-left: 3px;
			box-shadow:inset 0 1px 0 rgba(#000,0.2);
		}
		i{
			opacity: .5;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-right: 6px;
			@include transition(all, .1s, ease-in-out);
		}
		&:hover{
			@include background-image(linear-gradient(#fefefe, #fcfefc));
			&:before,&:after{
				border-left: 1px solid #c8cfd3;
				width: 1px;
				height: 100%;
				position: absolute;
				left: -1px;
				content:'';
			}
			&:after{
				left: auto;
				right: -1px;
			}
			i{
				opacity: 1;
			}
		}
		&:active{
			box-shadow:inset 0 1px 0 rgba(#fff,0.9);
			@include background-image(linear-gradient(#e2efe2, #f7fbf7));
		}
	}
}