@import "base";




.offers{
	@extend %clr;
	margin-right: -18px;
	position: relative;
	.offer{
		float: left;
		margin: 0 18px 18px 0;
	}
	.offers__title{
		@extend %h2;
	}
}
//======offers
.offer{
	@extend %box;
	width: 442px - 2px;
	height: 403px;
	position: relative;
	&:hover{
		border-color: #87b8da;
	}
	.offer__discount{
		@extend %discount;
	}
	.bought{
		position: absolute;
		right: 10px;
		bottom: 73px;
		border-radius: 6px;
		display: inline-block;
		background-color: #fff;
		background: rgba(#fff,.7);
		text-shadow:0 1px 0 rgba(#fff,.5);
		padding: 2px 8px;
		font-size: 13px;
		color: #000;
		z-index: 30;
		.bought__icon{
			
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: -3px;
			@include sized-sprite($icons, bought);
			margin: 0 3px 0 6px;
		}
	}
	.offer__link{
		@extend %button;
		position: absolute;
		right: 10px;
		bottom: 9px;
	}
	.offer__title{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.4;
		color: #333;
		padding: 16px 63px 0 18px;
		min-height: 95px - 14px;
		border-top-right-radius:6px;
		border-top-left-radius:6px;
		background: url(../img/icons/zub.png) repeat-x 0 100%;
	}
	.pics{
		position: absolute;
		bottom: 53px;
		left: 0;
	}
	.timeleft{
		position: absolute;
		bottom: 73px;
		left: 20px;
// 		background: rgba(#fff,.5);
		border-radius: 6px;
		@include sized-sprite($icons, timeleft);
		line-height: 1;
		z-index: 50;
		ul{
			list-style: none;
			font-size: 11px;
			color: #818181;
			padding-top: 4px;
			padding-left: 0;
			li{
				float: left;
				position: relative;
				width: 33%;
				text-align: center;
				color: rgba(#505050,.7);
				&:before{
					content:' ';
					position: absolute;
					right: 0;
					top: -2px;
					@include sized-sprite($icons, timeleft_sep);
				}
				&:last-child{
					&:before{
						display: none;
					}
				}
			}
			strong{
				font-size: 20px;
				display: block;
				text-align: center;
				color: #111;
				font-weight: normal;
				text-shadow:0 1px 0 rgba(#fff,.5);
			}
		}
	}
	&.offer_big{
		width: 900px;
		height: 332px;
		margin-right: 0;
		.price{
			padding-left: 478px;
			height: 49px - 17px;
			background-color: transparent;
			@include background-image(linear-gradient(rgba(#fcfcfc,.7), rgba(#eaeaea,.7)));
		}
		.offer__title{
			background-color: transparent;
			height: auto;
			font-size: 18px;
			font-weight: bold;
			@include background-image(linear-gradient(rgba(#fcfcfc,.7), rgba(#eaeaea,.7)));
		}
		.pics{
			bottom: 0;
			border-radius: 6px;
			.pics__wrap{
				height: auto;
				width: auto;
				border-radius: 6px;
			}
		}
		.offer__link{
			bottom: 7px;
		}
		.timeleft{
			bottom: 7px;
			left: 20px;
			background: none;
			
			height: auto;
			strong{
// 				font-weight: normal !important;
			}
		}
	}
	&.offer_product{
		width: 286px;
		height: 430px;
		.price{
			padding-top:0;
			top: auto;
			height: auto;
			bottom: 10px;
			del{
				position: absolute;
				top: -16px;
				left: 17px;
				font-size: 12px;
			}
		}
		.pics,.pics__wrap{
			width: 287px;
			height: 288px;
		}
	}

	&.offer_three{
		width: 286px;
		height: 250px;
		.price{
			padding-top:0;
			top: auto;
			height: auto;
			bottom: 10px;
			del{
				position: absolute;
				top: auto;
				left: 17px;
				bottom: 10px;
				font-size: 12px;

			}
			.price__actual{
				right: 10px;
				left: auto;
				bottom: 7px;
				position: absolute;
			}
		}
		.pics,.pics__wrap{
			width: 287px;
			height: 170px;
		}
	}

}
.price{
	@extend %price;
	position: absolute;
	height: 53px - 17px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #FFF;
	padding: 17px 0 0 18px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
}
.pics{
	position: relative;
	.pics__wrap{
		width: 440px;
		height: 270px;
		overflow: hidden;
		div{
			border-radius: 6px;
		}
		img{
			display: block;
		}
	}
}
.pics__next{
	@extend %next;
}
.pics__prev{
	@extend %prev;
}
.pics_slider{
	.pics__prev,.pics__next{
		display: block;
	}
}
.more{
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #d8dfe3;
	box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #d8dfe3;
	background-color: #e7eef2;
	@include background-image(linear-gradient(#f2f5f8, #e7eef2));
	font-size: 17px;
	text-decoration: none;
	color: #6b6d6f;
	text-align: center;
	display: block;
	padding: 16px 0;
	margin-bottom: 18px;
	font-weight: bold;
	position: relative;
	.more__icon{
		display: inline-block;
		@include sized-sprite($icons, more__icon);
		margin-right: 10px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
}





.benefits{
	position: relative;
	box-shadow:0 2px 3px  rgba(#000,.2);
	margin: 0 -30px 20px -30px;
	padding: 15px 0 20px 53px;
	background-color: #8bb335;
	@include background-image(linear-gradient(#9fc749, #71991b));
	text-align: center;
	&:before,&:after{
		content:'';
		position: absolute;
		bottom: -11px;
		left: 0;
		@include sized-sprite($icons, benefits_left);
	}
	&:after{
		left: auto;
		right: 0;
		@include sized-sprite($icons, benefits_right);
	}
	ul{
		list-style: none;
		font-size: 0;
	}
	li{
		display: inline-block;
		display: inline;
	}
	a{
		text-decoration: none;
		cursor: pointer;
		font-size: 12px;
		color: #f4f7f0;
		text-shadow: 0 1px 1px rgba(#000,0.4);
		font-weight: bold;
		display: inline-block;
		margin-right: 72px;
		text-align: center;
		span{
 			display: block;
		}
		b{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 1;
			@include transition(opacity, .15s, linear);
		}
		i{
			position: relative;
			display: inline-block;
			@each $ben in sup, eco, par, pre,act{
				&.benefits__icon#{$ben}{@include sized-sprite($icons, ben_#{$ben});}
			}
		}
		&:hover{
			@include transition(opacity, .15s, linear);
			i{
				b{
					opacity: 1;
				}
				@each $ben in sup, eco, par, pre,act{
					&.benefits__icon#{$ben} b{@include sized-sprite($icons, ben_#{$ben}h);}
				}
			}
		}
	}
}

.megasocials{
	@extend %clr;
	.megasocials__left,.megasocials__right{
		float: left;
		width: 440px;
	}
	.megasocials__right{
		float: right;
	}
}