@import "base";
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(#000,.3);
	z-index: 1000;
	display: none;
}
.popup{
	display: none;
	position: fixed;
	width: 700px - 60px;
	left: 50%;
	top: 100px;
	padding: 30px;
	margin-left: -350px;
	background: #fff;
	box-shadow:0 0 15px rgba(#000,.7);
	z-index: 1001;
	border-radius: 6px;
	.popup__wrapcols{
		overflow: hidden;
		border-top: 1px dotted #b5d0e2;
		border-bottom: 1px dotted #b5d0e2;
		padding: 15px 4px 25px 4px;
		position: relative;
		margin: 0 -4px;
	}
	.popup__close{
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
		@include sized-sprite($icons, popup_close);
	}
	h2{
		color: #0d6fb0;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 22px;
		line-height: 1;
	}
	h3{
		font-size: 24px;
		color: #010101;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.popup__left{
		float: left;
		width: 292px;
		position: relative;
		&:before{
			position: absolute;
			left: 292px + 27px;
			content:' ';
			height: 1000px;
			width: 1px;
			top: -30px;
			border-left: 1px dotted #b5d0e2;
		}
	}
	.popup__right{
		float: right;
		width: 292px;
	}
}
// socials
.socials{
	margin-top: 20px;
	dt{
		display: inline-block;
		font-size: 24px;
		font-weight: bold;
		color: #010101;
		margin-right: 7px;
	}
	dd,ul,li{
		display: inline-block;
		list-style: none;
	}
	a{
		display: inline-block;
		width: 37px;
		height: 31px;
		margin-left: 5px;
		border-radius: 6px;
		background: red;
		position: relative;
		top: 8px;
		&.socials__fb{
			@include sized-sprite($icons, s_fb);
			&:hover{@include sized-sprite($icons, s_fbh);}
			&:active{@include sized-sprite($icons, s_fba);}
		}
		&.socials__gp{
			@include sized-sprite($icons, s_gp);
			&:hover{@include sized-sprite($icons, s_gph);}
			&:active{@include sized-sprite($icons, s_gpa);}
		}
		&.socials__tw{
			@include sized-sprite($icons, s_tw);
			&:hover{@include sized-sprite($icons, s_twh);}
			&:active{@include sized-sprite($icons, s_twa);}
		}
		&.socials__vk{
			@include sized-sprite($icons, s_vk);
			&:hover{@include sized-sprite($icons, s_vkh);}
			&:active{@include sized-sprite($icons, s_vka);}
		}
		&.socials__ya{
			@include sized-sprite($icons, s_ya);
			&:hover{@include sized-sprite($icons, s_yah);}
			&:active{@include sized-sprite($icons, s_yaa);}
		}
		&.socials__od{
			@include sized-sprite($icons, s_od);
			&:hover{@include sized-sprite($icons, s_odh);}
			&:active{@include sized-sprite($icons, s_oda);}
		}
	}
}
//popup form
.form{
	.h3_reg{
		&:after{
			content:'';
			display: inline-block;
			@include sized-sprite($icons, h3_reg);
			margin-left: 10px;
			position: relative;
			top: 2px;
		}
	}
	.h3_login{
		&:after{
			content:'';
			display: inline-block;
			@include sized-sprite($icons, h3_login);
			margin-left: 10px;
			position: relative;
			top: 1px;
		}
	}
	.form__row{
		margin-bottom: 26px;
		position: relative;
		input{
			width: 292px - 2px ;
			padding: 0 10px;
			border-radius: 4px;
			border: 1px solid #c7c7c7;
			box-shadow:inset 0 1px 0 #c7c7c7;
			font-size: 14px;
			height: 30px;
			display: inline-block;
		}
		&.form__row_error{
			input{
				background: #fff2f2;
				border-color: #ff7f7f;
				box-shadow:none;
			}
			.form__error{
				color: #f00;
				font-size: 12px;
				position: absolute;
				bottom: -19px;
				left: 0;
			}
		}
	}
	.form__text{
		margin-top: -10px;
		font-size: 12px;
		margin-bottom: 23px;
		a{
			color: #000;
		}
		input{
			margin-right: 3px;
		}
	}
	.select{
		position: relative;
		select{
			position: absolute;
			opacity: 0;
			height: 32px;
			-webkit-appearance:none;
			width: 100%;
			z-index: 3;
			top: 0;
			left: 0;
		}
		i{
			position: absolute;
			right: 10px;
			top: 12px;
			display: inline-block;
			z-index: 2;
			@include sized-sprite($icons, select);
		}
	}
}
.button{
	display: inline-block;
	border-radius: 6px;
	padding: 0 33px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	@include background-image(linear-gradient(#7aba49, #3f840b));
	&:hover{
		@include background-image(linear-gradient(#93c66c, #55882e));
	}
	&:active{
		@include background-image(linear-gradient(#699e40, #6eb339));
	}
}