@import 'base';

.subnav{
	@extend %blueblock;
	padding: 7px 0;
	ul{
		list-style: none;
		a{
			display: block;
			font-size: 16px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
			padding: 4px 0 4px 20px;
			position: relative;
			&.is-active{
				background: #acd373;
				&:before{
					content: ' ';
					position: absolute;
					margin-top: -10px;
					top: 50%;
					left: -12px;
					@include sized-sprite($icons, subnav-arr);
				}
			}

		}

	}
}


.social-block{
	margin-bottom: 23px;
}

.helpme{
	@extend %blueblock;
	padding-right: 0;
	.helpme__title{
		color: #767f80;
		font-weight: bold;
		font-size: 12px;
		margin-bottom: 6px;
	}
	.helpme__button{
		@extend %greenbutton;
	}
	.helpme__phone{
		font-size: 32px;
		color: #444b50;
		margin-bottom: 6px;
	}
}

.text{
	color: #111;
	font-size: 14px;
	line-height: 1.4;
	p{
		margin-bottom: 1.2em;
	}
	h2{
		font-size: 18px;
		font-weight: bold;
		margin: 16px 0 4px 0;
	}
	.subtle{
		color: #898989;
	}
	&.text_narrow{
		p{
			margin-right: 250px;
		}
	}
	ul{
		margin: 1em 2em;
		line-height: 1.5;
		&.list-style-none{
			list-style: none;
		}
	}
	.green{
		color: #4a8f16;
	}
	.lead{
		font-size: 18px;
	}
	code{
		font-weight: bold;
		border: 1px solid rgba(144,144,144,.5);
		@include border-radius(3px);
		box-shadow: 0 -1px 0 #d2d2d2;
		background-color: #fff;
		padding: 3px 5px;
		font-family: Arial,sans-serif;;
	}
}
.linkmore{
	@include border-radius(6px);
	background-color: #fff;
	border: 3px solid #b0cad2;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #000;
	height: 37px;
	line-height: 37px;
	margin-top: 20px;
	a{
		color: #0f71b3;
	}
	&.linkmore_alt{
		background: #f5f5f5;
		border: none;
		strong{
			color: #075f97;
		}
		span{
			font-weight: normal;
			color: #898989;
		}
	}
}
